[app]
debug = false
trace = false

[database]
hostname = 127.0.0.1
database = gch
username = root
password = your_password_here
hostport = 3306
prefix = fy_

[redis]
hostname = 127.0.0.1
port = 6379
password =
database = 0

[wechat]
min_appid = your_mini_program_appid_here
min_secret = your_mini_program_secret_here

[sms]
access_key_id =
access_key_secret =
sign_name =
template_code =

[api]
rate_limit = 60
token_expire = 604800
