<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
    }
    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }
    .sm-st-info {
        padding-top: 2px;
        overflow: hidden;
    }
    .sm-st-info span {
        display: block;
        font-size: 28px;
        font-weight: 600;
        color: #ff6600;
    }
    .sm-st-info small {
        color: #999;
        font-size: 14px;
    }
    .orange { background: #ff6600 !important; }
    .green { background: #27ae60 !important; }
    .gray  { background: #888 !important; }
    .blue  { background: #3498db !important; }
</style>

<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <!-- 今日预订统计 -->
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon orange"><i class="fa fa-shopping-cart"></i></span>
                            <div class="sm-st-info">
                                <span>{$today_reservation|htmlentities}</span>
                                <small>本日预订</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon green"><i class="fa fa-check-circle"></i></span>
                            <div class="sm-st-info">
                                <span>{$today_confirmed|htmlentities}</span>
                                <small>本日确认预订</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon gray"><i class="fa fa-ban"></i></span>
                            <div class="sm-st-info">
                                <span>{$today_cancelled|htmlentities}</span>
                                <small>本日取消预订</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 待确认 + 累计统计 -->
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon blue"><i class="fa fa-clock-o"></i></span>
                            <div class="sm-st-info">
                                <span>{$today_pending|htmlentities}</span>
                                <small>待确认预订</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon green"><i class="fa fa-users"></i></span>
                            <div class="sm-st-info">
                                <span>{$total_buyer|htmlentities}</span>
                                <small>采购商总数</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon orange"><i class="fa fa-truck"></i></span>
                            <div class="sm-st-info">
                                <span>{$total_wholesaler|htmlentities}</span>
                                <small>批发商总数</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="sm-st clearfix" style="text-align:center;">
                            <span class="sm-st-icon orange" style="margin-right:30px;"><i class="fa fa-cube"></i></span>
                            <div class="sm-st-info" style="display:inline-block;float:left;">
                                <span>{$total_goods|htmlentities}</span>
                                <small>货盘总数</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
